.DS_Store
.build
build/
.asc/
DerivedData
xcuserdata/
*.xcuserstate
*.xcscmblueprint
BuddyGrammar.xcodeproj/project.xcworkspace/xcuserdata/
BuddyGrammar.xcodeproj/xcuserdata/

# codeview reference codebases
/resources/
!BuddyGrammarKit/Sources/BuddyGrammarKit/Resources/
!BuddyGrammarKit/Sources/BuddyGrammarKit/Resources/EmojiCatalog.json
